body {
  display: flex;
  justify-content: center;
}

.trafficLight {
  position: relative;
}

.blackBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 200px;
  width: 100px;
  height: 400px;
  background-color: rgb(33, 37, 41);
}

.colorsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 75px;
  left: 200px;
}

.light {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 4px;
}

.btn {
  margin-left: 10px;
}
